<section>
    <div class="title">This display that the ng-template is included in different component</div>
    <div>
        <button class="btn blue" (click)="changeLayout()">switch the layout</button>
    </div>

    <ng-container *ngIf="this.layoutHorizontal">
        <app-template-a></app-template-a>
    </ng-container>
    <ng-container *ngIf="!this.layoutHorizontal">
        <app-template-b></app-template-b>
    </ng-container>
</section>

<section>
    <div class="title"></div>

</section>